@if (info().typeInput != 'radio') {
  <label [for]="info().idLabel" class="form-label">{{ info().nameLabel }}</label>
}
@switch (info().typeInput) {
  @case ('radio') {
    @for (option of info().options; track option.data) {
      <label class="form-check-label" [for]="option.data">{{ option.data }}</label>
      <input
        type="radio"
        class="form-check-input"
        [value]="option.value"
        [field]="stringField"
        [id]="option.data"
      />
    }
  }
  @case ('select') {
    <select class="form-select" [field]="stringField">
      @for (option of info().options; track option.data) {
        <option [value]="option.value">{{ option.data }}</option>
      }
    </select>
  }
  @case ('input') {
    <input
      [field]="info().inputField"
      [type]="info().type"
      class="form-control"
      [id]="info().idLabel"
      [aria-describedby]="info().messageId"
    />
  }
}
<app-error-messages [message]="info().inputField()" [messageId]="info().messageId">
</app-error-messages>
