@if (type() != 'radio') {
  <label [for]="info().idLabel" class="form-label">{{ info().nameLabel }}</label>
}
@switch (type()) {
  @case ('active') {
    <label class="form-check-label" [for]="info().options![0].data">{{
      info().options![0].data
    }}</label>
    <input
      type="checkbox"
      class="form-check-input"
      [field]="booleanField"
      [id]="info().options![0].data"
    />
  }
  @case ('radio') {
    @for (option of info().options; track option.data) {
      &nbsp;
      <input
        type="radio"
        class="form-check-input"
        [value]="option.value"
        [field]="stringField"
        [id]="option.data"
      />
      <label class="form-check-label" [for]="option.data">{{ option.data }}</label>
    }
  }
  @case ('select') {
    <select class="form-select" [field]="stringField" [id]="info().idLabel">
      @for (option of info().options; track option.data) {
        <option [value]="option.value">{{ option.data }}</option>
      }
    </select>
  }
  @case ('input') {
    <input
      [field]="fieldTree()"
      [type]="info().type"
      class="form-control"
      [id]="info().idLabel"
      [aria-describedby]="messageId()"
      [readOnly]="info().readonly"
      (change)="onChange.emit($event)"
    />
  }
}
<app-error-messages [message]="fieldTree()()" [messageId]="messageId()"> </app-error-messages>
