<table class="table table-hover align-middle mb-3">
  <thead>
    <tr>
      @for (title of tableConfig().titles; track title.dataField) {
        <th>{{ title.name | translate }}</th>
      }
      @if (hasActions()) {
        <th>{{ 'COMMONS.ACTIONS' | translate }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (model of tableConfig().data; track $index; let i = $index) {
      <tr>
        @for (title of tableConfig().titles; track title.dataField) {
          <td [class.text-black-50]="isInactive(model)">
            @if (title.transform) {
              @switch (title.transform.type) {
                @case ('color') {
                  <app-color-swatch [color]="asString(transformedValue(title, model))" />
                }
                @case ('active') {
                  <app-active-badge [active]="asBoolean(transformedValue(title, model))" />
                }
                @case ('icon') {
                  <i [class]="asString(transformedValue(title, model))"></i>
                }
              }
            } @else {
              {{ model[title.dataField] }}
            }
          </td>
        }
        @if (hasActions()) {
          <td>
            @for (button of tableConfig().buttons; track button.name) {
              @if (button.show()) {
                <button type="button" [class]="button.style" (click)="button.action(model, i)">
                  {{ button.name | translate }}
                </button>
                <span class="me-1"></span>
              }
            }
          </td>
        }
      </tr>
    } @empty {
      <tr>
        <td [attr.colspan]="colspan()" class="text-center">
          {{ 'COMMONS.NO_RECORDS' | translate }}
        </td>
      </tr>
    }
  </tbody>
</table>
