<table class="table table-hover align-middle mb-3">
  <thead>
    <tr>
      @for (title of tableConfig()?.titles; track $index) {
        <th>{{ title.name | translate }}</th>
      }
      @if (tableConfig()?.buttons?.length != 0) {
        <th>Ações</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (model of tableConfig()?.data; track $index; let i = $index) {
      <tr>
        @for (title of tableConfig()?.titles; track $index) {
          <td>
            @if (title.transform) {
              <i [class]="title.transform(model[title.dataField])"></i>
            } @else {
              {{ model[title.dataField] }}
            }
          </td>
        }
        @if (tableConfig()?.buttons?.length == 0) {
          @for (button of tableConfig()?.buttons; track $index) {
            <td>
              @if (button.show()) {
                <button type="button" [classList]="button.style" (click)="button.action(model, i)">
                  {{ button.name | translate }}
                </button>
                &nbsp;
              }
            </td>
          }
        } @else {
          <td>
            @for (button of tableConfig()?.buttons; track $index) {
              @if (button.show()) {
                <button type="button" [classList]="button.style" (click)="button.action(model, i)">
                  {{ button.name | translate }}
                </button>
                &nbsp;
              }
            }
          </td>
        }
      </tr>
    } @empty {
      <tr>
        <td [attr.colspan]="colspan()" class="text-center">Nenhum registro encontrado</td>
      </tr>
    }
  </tbody>
</table>
