<table class="table table-hover table-light table-style">
  <thead>
    <tr>
      @for (title of tableConfig()?.titles; track $index) {
        <th>{{ title.name }}</th>
        <th>Ações</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (model of tableConfig()?.data; track $index) {
      <tr>
        @for (title of tableConfig()?.titles; track $index) {
          <td>{{ model[title.dataField] }}</td>
        }

        <td>
          @for (button of tableConfig()?.buttons; track $index) {
            @if (button.show()) {
              <button type="button" [classList]="button.style" (click)="button.action(model)">
                {{ button.name }}
              </button>
              &nbsp;
            }
          }
        </td>
      </tr>
    }
  </tbody>
</table>
