<div class="row mb-3 mt-3">
  <div class="col">
    <h1>{{"MAIN.FEATURES.ADDRESSES.FORMTITLE" | translate}}</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-form-input
      [messageId]="'typeAddress'"
      [fieldTree]="formType"
      [type]="'radio'"
      [info]="{
        options: [
          {
            data: 'MAIN.FEATURES.ADDRESSES.TYPEADDRESSES.HOUSING' | translate,
            value: 'M',
          },
          {
            data: 'MAIN.FEATURES.ADDRESSES.TYPEADDRESSES.CHARGE' | translate,
            value: 'C',
          },
          {
            data: 'MAIN.FEATURES.ADDRESSES.TYPEADDRESSES.DELIVERY' | translate,
            value: 'E',
          },
        ],
      }"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <app-form-input
      [messageId]="'zipCode'"
      [fieldTree]="formCode"
      [type]="'input'"
      [info]="{
        idLabel: 'zipCode',
        nameLabel: 'MAIN.FEATURES.ADDRESSES.ZIPCODE' | translate,
        type: 'text'
      }"
      (onChange)="getByZipCode($event)"
    />
  </div>
  <div class="col">
    <app-form-input
      [messageId]="'street'"
      [fieldTree]="formStreet"
      [type]="'input'"
      [info]="{
        idLabel: 'street',
        nameLabel: 'MAIN.FEATURES.ADDRESSES.STREET' | translate,
        type: 'text',
      }"
    />
  </div>

  <div class="col">
    <app-form-input
      [messageId]="'number'"
      [fieldTree]="formNumber"
      [type]="'input'"
      [info]="{
        idLabel: 'number',
        nameLabel: 'MAIN.FEATURES.ADDRESSES.NUMBER' | translate,
        type: 'text',
      }"
    />
  </div>

  <div class="col">
    <app-form-input
      [messageId]="'state'"
      [fieldTree]="formState"
      [type]="'select'"
      [info]="{
        idLabel: 'state',
        nameLabel: 'MAIN.FEATURES.ADDRESSES.STATE' | translate,
        options: selectState(),
      }"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <app-form-input
      [messageId]="'city'"
      [fieldTree]="formCity"
      [type]="'input'"
      [info]="{
        idLabel: 'city',
        nameLabel: 'MAIN.FEATURES.ADDRESSES.CITY' | translate,
        type: 'text',
      }"
    />
  </div>

  <div class="col">
    <app-form-input
      [messageId]="'neighborhood'"
      [fieldTree]="formNeighborhood"
      [type]="'input'"
      [info]="{
        idLabel: 'neighborhood',
        nameLabel: 'MAIN.FEATURES.ADDRESSES.NEIGHBORHOOD' | translate,
        type: 'text',
      }"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-check form-switch">
      <app-form-input
        [messageId]="'active'"
        [fieldTree]="formActive"
        [type]="'active'"
        [info]="{
          options: [
            {
              data: 'MAIN.FEATURES.ADDRESSES.ACTIVE' | translate,
              value: 'A',
            },
          ],
        }"
      />
    </div>
  </div>
</div>
<div class="row">
  <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
    @if (this.saving()) {
      <img src="../../../../assets/loading.png" class="rounded loading-animation" />
    } @else {
      <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
      <button [disabled]="isDisabled" type="button" class="btn btn-primary" (click)="onSalve()">
        @if(onEditing()) {
          {{ "COMMONS.EDIT" | translate}}
        } @else{
          {{ "COMMONS.SAVE" | translate}}
        }
      </button>
    }
  </div>
</div>
