<div class="container">
  <form>
    <div class="row mb-3 mt-3">
      <div class="col">
        <h1>Cadastro de {{ html.title }}</h1>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <app-form-input
          [messageId]="'name'"
          [fieldTree]="formName"
          [type]="'input'"
          [info]="{
            idLabel: 'name',
            nameLabel: html.nameLabel,
            type: 'text',
          }"
        />
      </div>
      <div class="col">
        <app-form-input
          [messageId]="'nickname'"
          [fieldTree]="formNickname"
          [type]="'input'"
          [info]="{
            idLabel: 'nickname',
            nameLabel: html.nicknameLabel,
            type: 'text',
          }"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <app-form-input
          [messageId]="'state'"
          [fieldTree]="formStateDocument"
          [type]="'input'"
          [info]="{
            idLabel: 'stateDocument',
            nameLabel: html.stateLabel,
            type: 'text',
          }"
        />
      </div>
      <div class="col">
        <app-form-input
          [messageId]="'federal'"
          [fieldTree]="formFederalDocument"
          [type]="'input'"
          [info]="{
            idLabel: 'federalDocument',
            nameLabel: html.federalLabel,
            type: 'text',
          }"
        />
      </div>
      @if (isNaturalPerson()) {
        <div class="col">
          <app-form-input
            [messageId]="'gender'"
            [fieldTree]="formGender"
            [type]="'input'"
            [info]="{
              idLabel: 'gender',
              nameLabel: html.genderLabel,
              type: 'text',
            }"
          />
        </div>

        <div class="col">
          <app-form-input
            [messageId]="'date'"
            [fieldTree]="formDate"
            [type]="'input'"
            [info]="{
              idLabel: 'date',
              nameLabel: html.dateLabel,
              type: 'date',
            }"
          /> 
        </div>
      } @else {
        <div class="col">
          <app-form-input
            [messageId]="'bond'"
            [fieldTree]="formBond"
            [type]="'input'"
            [info]="{
              idLabel: 'bond',
              nameLabel: html.bondLabel,
              type: 'number',
            }"
          />
        </div>
      }
    </div>

    <div class="row">
      <div class="col">
        <div class="form-check form-switch">
          <app-form-input
            [messageId]="'active'"
            [fieldTree]="formActive"
            [type]="'active'"
            [info]="{
              options: [
                {
                  data: 'Ativo',
                  value: 'A',
                },
              ],
            }"
          />
        </div>
      </div>
    </div>

    @if (isAddressModeForm()) {
      <app-address-form
        (cancel)="onCancelForm($event)"
        (salve)="onSalveForm($event)"
        [addressEvent]="editAddress()"
      />
    } @else {
      <app-address-list
        [addresses]="addresses()"
        (onCreate)="onCancelForm($event)"
        (onEdit)="onEditForm($event)"
        (onDel)="onDelList($event)"
      />
      <div class="row">
        <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
          @if (this.saving()) {
            <img src="../../../../assets/loading.png" class="rounded loading-animation" />
          } @else {
            <button type="button" class="btn btn-danger" (click)="onCancel()">Voltar</button>
            <button
              [disabled]="isDisabled"
              type="button"
              class="btn btn-primary"
              (click)="onSalve()"
            >
              Salvar
            </button>
          }
        </div>
      </div>
    }
    <!-- <div class="row mb-3">
    @if (isNaturalPerson()) {
      <div class="row mb-3"> 
        <h1>Pessoa fisica is works</h1>
        <div class="col">
          <label for="nome" class="form-label">{{ html.genderLabel }}</label>
          <input
            [field]="formData.gender"
            type="text"
            class="form-control"
            id="nome"
            aria-describedby="nomeHelp"
          />
          <app-error-messages
            [message]="formData.gender()"
            [messageId]="idHelp"
          ></app-error-messages>
        </div>
        <div class="col">
          <label for="nome" class="form-label">{{ html.ageLabel }}</label>
          <input
            [field]="formData.age"
            type="text"
            class="form-control"
            id="nome"
            aria-describedby="nomeHelp"
          />
          <app-error-messages [message]="formData.age()" [messageId]="idHelp"></app-error-messages>
        </div>
        <div class="col">
          <label for="nome" class="form-label">{{ html.bondLabel }}</label>
          <input
            [field]="formData.bond"
            type="text"
            class="form-control"
            id="nome"
            aria-describedby="nomeHelp"
          />
          <app-error-messages
            [message]="formData.bond()"
            [messageId]="idHelp"
          ></app-error-messages>
        </div>
      </div>
    } -->
  </form>
</div>
