<div class="container" style="view-transition-name: routeAnimation">
  <form>
    <div class="row mb-3 mt-3">
      <div class="col">
        <h1>{{ html.title | translate }}</h1>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <app-form-input
          [messageId]="'name'"
          [fieldTree]="formName"
          [type]="'input'"
          [info]="{
            idLabel: 'name',
            nameLabel: html.nameLabel | translate,
            type: 'text',
          }"
        />
      </div>
      <div class="col">
        <app-form-input
          [messageId]="'nickname'"
          [fieldTree]="formNickname"
          [type]="'input'"
          [info]="{
            idLabel: 'nickname',
            nameLabel: html.nicknameLabel | translate,
            type: 'text',
          }"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <app-form-input
          [messageId]="'state'"
          [fieldTree]="formStateDocument"
          [type]="'input'"
          [info]="{
            idLabel: 'stateDocument',
            nameLabel: html.stateLabel | translate,
            type: 'text',
          }"
        />
      </div>
      <div class="col">
        <app-form-input
          [messageId]="'federal'"
          [fieldTree]="formFederalDocument"
          [type]="'input'"
          [info]="{
            idLabel: 'federalDocument',
            nameLabel: html.federalLabel | translate,
            type: 'text',
          }"
        />
      </div>
      @if (isNaturalPerson()) {
        <div class="col">
          <app-form-input
            [messageId]="'gender'"
            [fieldTree]="formGender"
            [type]="'select'"
            [info]="{
              idLabel: 'gender',
              nameLabel: html.genderLabel | translate,
              options: [
                {
                  data: 'MAIN.FEATURES.PEOPLE.GENDERLABELMAN' | translate,
                  value: 'M',
                },
                {
                  data: 'MAIN.FEATURES.PEOPLE.GENDERLABELFEMAN' | translate,
                  value: 'F',
                },
              ],
            }"
          />
        </div>

        <div class="col">
          <app-form-input
            [messageId]="'date'"
            [fieldTree]="formDate"
            [type]="'input'"
            [info]="{
              idLabel: 'date',
              nameLabel: html.dateLabel | translate,
              type: 'date',
            }"
          />
        </div>
      } @else {
        <div class="col">
          <app-form-input
            [messageId]="'bond'"
            [fieldTree]="formBond"
            [type]="'input'"
            [info]="{
              idLabel: 'bond',
              nameLabel: html.bondLabel | translate,
              type: 'number',
            }"
          />
        </div>
      }
    </div>

    <div class="row">
      <div class="col">
        <div class="form-check form-switch">
          <app-form-input
            [messageId]="'active'"
            [fieldTree]="formActive"
            [type]="'active'"
            [info]="{
              options: [
                {
                  data: 'MAIN.FEATURES.PEOPLE.ACTIVE' | translate,
                  value: 'A',
                },
              ],
            }"
          />
        </div>
      </div>
    </div>

    @if (isAddressModeForm()) {
      <app-address-form
        (cancel)="onCancelForm($event)"
        (salve)="onSalveForm($event)"
        [addressEvent]="editAddress()"
      />
    } @else {
      <app-address-list
        [addresses]="addresses()"
        (onCreate)="onCancelForm($event)"
        (onEdit)="onEditForm($event)"
        (onDel)="onDelList($event)"
      />
      <div class="row">
        <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
          @if (this.saving()) {
            <img src="../../../../assets/loading.png" class="rounded loading-animation" />
          } @else {
            <button type="button" class="btn btn-danger" (click)="onCancel()">
              {{ 'COMMONS.CANCEL' | translate }}
            </button>
            <button
              [disabled]="isDisabled"
              type="button"
              class="btn btn-primary"
              (click)="onSalve()"
            >
              {{ 'COMMONS.SAVE' | translate }}
            </button>
          }
        </div>
      </div>
    }
  </form>
</div>

<app-modal [isOpen]="onDeactivating()" (closed)="onClosedModal()">
  <app-modal-deactivate
    (onClosed)="onClosedModal()"
    [address]="deactivateAddress()!"
    (onDeactivate)="onDelModal($event)"
  />
</app-modal>
